<h1>Product#index</h1>
<p>Find me in app/views/product/index.html.erb</p>
<%= @prod_list.each do |p| %>
	<div class="w3-card-2 w3-section w3-container">
		<div class="row">
			<div class="col-xs-4 w3-section">
				<img class="img-responsive" src="<%= p.pimg_url %>">		
			</div>	
			<div class="col-xs-8">
				<h2><%= "#{p.pname}(id: #{p.pid})" %></h2>	
				<p><%= p.pdetailes %></p>	
				<p>Rs.<%= p.pprice %></p>
			</div>	
		</div>	
	</div>
<% end %>